@{
    ViewData["Title"] = "Password Added Successfully..";
}
<div class="container mt-3">
    <div class="alert alert-info" role="alert">
       <span class="text-success alert-link">You have successfully set a local password.</span>
       You can now use either your local user account or an external account to login
    </div>
    <div class="text-center mt-1">
        <img src="~/images/resetpasswordconfirmation.png" asp-append-version="true" class="img-fluid" style="width: auto; height:400px;" />
    </div>
</div>