@{
    ViewData["Title"] = "Password is been Changed Successfully..";
}
<div class="container mt-3">
    <div class="alert alert-info" role="alert">
       Your password is been Changed <span class="text-success alert-link">SuccessFully...!</span>
    </div>
    <div class="text-center mt-1">
        <img src="~/images/resetpasswordconfirmation.png" asp-append-version="true" class="img-fluid" style="width: auto; height:400px;" />
    </div>
</div>