@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Changeing Signed user Password..";
}
<div class="container mt-3">
     <h2>Modify Password</h2>
    <hr>
    <div class="alert alert-info">
     <form method="post" asp-action="ChangePassword" asp-controller="Account">
        <div class="form-group row mt-1">
                 <div  asp-validation-summary="All" class="text-danger"></div>
        </div>
        <div class="form-group row mt-3">
                <label asp-for="CurrentPassword" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="CurrentPassword" class="form-control" placeholder="Please Enter your Current Password">
                    <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                </div>
        </div>
        <div class="form-group row mt-3">
                <label asp-for="NewPassword" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="NewPassword" class="form-control" placeholder="Please Enter New Password">
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
        </div>
        <div class="form-group row mt-3">
                <label asp-for="ConfirmPassword" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="ConfirmPassword" class="form-control" placeholder="Please Enter New Password">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
        </div>
        <div class="form-group row mt-3">
             <div class="col-sm-10">
                    <button type="submit" class="btn btn-success w-auto">Update Password</button>
             </div>
         </div>
     </form>
     </div>
</div>