@{
    ViewData["Title"] = "Password reset link set Successfully..";
}
<div class="container mt-3">
    <div class="alert alert-dark" role="alert">
        If you have an account with us, <span class="alert-link text-success">we have sent an email with the instructions to reset your password.</span>
    </div>
</div>