@{
    ViewData["Title"] = "Password is reset Successfully..";
}
<div class="container mt-3">
    <div class="alert alert-info" role="alert">
       Your password is reset <span class="text-success alert-link">SuccessFully...!</span> Please click <a asp-action="Login" class="text-primary alert-link">here to login</a>
    </div>
    <div class="text-center mt-1">
        <img src="~/images/resetpasswordconfirmation.png" asp-append-version="true" class="img-fluid" style="width: auto; height:400px;" />
    </div>
</div>