@{
  ViewData["Title"]="Employee cannot be Deleted";
}
<div class="container mt-3">
    <div class="alert alert-info" role="alert">
        <p><span class="alert-link text-dark">Unable to delete employee record</span>,some problem occured while processing request.</p>
    </div>
    <a asp-controller="home" asp-action="index" class="btn btn-outline-success" style="width: auto;">Click here to
            navigate to the home page</a>
</div>